@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #D8E9A8;
  color: #1E5128;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.board {
  border: .4rem solid #1E5128;
  background: #1E5128;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: .4rem;
  border-radius: 5px;
}

.squares {
  background: #4E9F3D;
  border: none;
  font-size: 5rem;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.X {
  color: #960200;
}
.O {
  color: #241E4E;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.info-wrapper button {
  background: #1E5128;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 3rem;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}